@font-face {
  font-family: 'Kanit-black-italic';
  src: url('../public/fonts/Kanit-BlackItalic.ttf');
}

@font-face {
  font-family: 'Kanit-black';
  src: url('../public/fonts/Kanit-Black.ttf');
}

@font-face {
  font-family: 'Kanit-bold';
  src: url('../public/fonts/Kanit-Bold.ttf');
}

@font-face {
  font-family: 'Kanit-bold-italic';
  src: url('../public/fonts/Kanit-BoldItalic.ttf');
}

@font-face {
  font-family: 'Kanit-extra-bold';
  src: url('../public/fonts/Kanit-ExtraBold.ttf');
}

@font-face {
  font-family: 'Kanit-italic';
  src: url('../public/fonts/Kanit-Italic.ttf');
}

@font-face {
  font-family: 'Kanit-light';
  src: url('../public/fonts/Kanit-Light.ttf');
}

@font-face {
  font-family: 'Kanit-light-italic';
  src: url('../public/fonts/Kanit-LightItalic.ttf');
}

@font-face {
  font-family: 'Kanit-medium';
  src: url('../public/fonts/Kanit-Medium.ttf');
}

@font-face {
  font-family: 'Kanit-medium-italic';
  src: url('../public/fonts/Kanit-MediumItalic.ttf');
}

@font-face {
  font-family: 'Kanit-regular';
  src: url('../public/fonts/Kanit-Regular.ttf');
}

@font-face {
  font-family: 'Kanit-thin-italic';
  src: url('../public/fonts/Kanit-ThinItalic.ttf');
}

@font-face {
  font-family: 'Octuple-max';
  src: url('../public/fonts/Octuple-max-demo.ttf')
}

@font-face {
  font-family: 'Plank';
  src: url('../public/fonts/PLANK___.TTF');
}

:root {
  --laranja: #ea5d0f;
}

* {
  margin: 0;
  color: white;
}

@keyframes example {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

body {
  margin: 0;
  /* background-image: linear-gradient(-45deg, #0a00c1 -10%, #0F0030 70%); */
  background-color: #0F0030;
}

.saibamais button {
  background-color: var(--laranja);
  border-radius: 50px;
  height: 35px;
  width: 120px;
  border: none;
  color: black;
  font-size: 1vw;
  font-family: 'Kanit-medium';
  transition: 0.2s;
}

.saibamais button:hover {
  background-color: white;
}


/* ----------- Barra de navegação ----------- */
.nav_bar {
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 3%;
}

.esquerda {
  /* border: 1px solid white; */
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.esquerda a {
  /* border: 1px solid white; */
  padding: 0 50px;
  /* Reduzi o espaçamento horizontal para alinhar os links */
  font-size: 1vw;
  text-decoration: none;
  font-family: 'Kanit-regular';
}


/* ----------- Banner principal ----------- */
.Banner {
  display: flex;
  align-items: center;
}

.texto {
  margin-left: 4%;
  width: 100%;
  z-index: 1;
  margin-top: -10%;
  margin-right: -30%;
}

.texto h1 {
  font-family: 'Octuple-max';
  font-size: 6vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.texto p {
  font-family: 'Kanit-regular';
  line-height: 120%;
  font-size: 1.5vw;
  width: 40%;
  padding: 5% 0
}

.imagem {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 150%;
  right: 0;
}

.imagem img {
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-bottom-left-radius: 70px;
  max-width: 95%;

}

.imagem h2 {
  font-family: 'Plank';
  font-size: 6vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: transparent;
  padding: 10px;
  margin-top: -6%;
}


/* ----------- Serviços ----------- */
.Servicos {
  display: flex;
  align-items: center;
  margin: 1% 4% 4% 4%;
}

.Servicos .imagens {
  display: flex;
}

.Servicos #star {
  z-index: 1;
  margin-right: -31px;
  margin-top: -33.8%;
  width: 60px;
  border: none;
}

.Servicos img {
  left: 0;
  border: 2px solid white;
  border-bottom-right-radius: 40px;
  max-width: 50%;
}

.Servicos .textos {
  margin-top: -5%;
  max-width: 50%;
  padding-left: 6%;
}

.Servicos h2 {
  font-family: 'Kanit-medium';
  font-size: 4vw;
}

.Servicos p {
  padding: 3% 0 5% 0;
  width: 60%;
  font-family: 'Kanit-regular';
  font-size: 1.5vw;
  line-height: 120%;
}

.Servicos #letra_japonesa {
  z-index: 1;
  margin-right: -31px;
  margin-bottom: -40%;
  width: 8%;
  border: none;
  border-radius: none;
  padding-bottom: 4%;
}


/* ----------- O que oferecemos ----------- */
.oqueoferecemos .titulo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 90%;
}

.oqueoferecemos .titulo hr {
  border: 1px solid white;
  width: 65%;
}

.oqueoferecemos h1 {
  padding-right: 3%;
  font-family: 'Kanit-medium';
  font-size: 3vw;
}

.icones {
  display: flex;
  width: 50%;
  margin: 5%;
  justify-content: space-between;
  /* border: 1px solid white; */
}

.FaIconsOQ {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  padding: 5%;
}

.FaIconsOQ:hover, .icone-ativo {
  border: 1px solid var(--laranja);
  color: var(--laranja);
}

.oqueoferecemos .ativo {
  align-items: center;
  margin: 4% 0;
  width: 80%;
  height: 180px;
  display: flex;
  border: 1px solid white;
  border-bottom-right-radius: 70px;
}

.ativo #star {
  z-index: 1;
  height: 80px;
  margin-top: -182px;
  margin-left: 30px;
}

.ativo #iconeAtv {
  width: 60px;
  height: 60px;
  background-color: var(--laranja);
  color: #0F0030;
  padding: 2%;
  margin: 0 5%;
}

.ativo p {
  width: 60%;
  font-family: 'Kanit-medium';
  font-size: 1.8vw;
}

.oqueoferecemos .titulos {
  z-index: 1;
  flex-direction: column;
  align-items: flex-end;
  line-height: 500%;
  margin-top: -7%;
  display: flex;
  justify-content: flex-end;
}

.oqueoferecemos h2 {
  z-index: 1;
  font-family: 'Plank';
  font-size: 6vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: transparent;
  padding: 10px;
  line-height: 80%;
}

.oqueoferecemos span {
  font-family: 'Plank';
  padding: 10px;
}

/* ----------- Quem passou por aqui? ----------- */
.quemPassouAqui {
  display: flex;
  flex-direction: column;
  margin-top: -12%;
}

.quemPassouAqui h1 {
  padding-left: 4%;
  font-family: 'Kanit-medium-italic';
  font-size: 3.2vw;
  padding-bottom: 3%;
}

.quemPassouAqui img {
  border: 2px solid white;
  border-bottom-left-radius: 70px;
  width: 90%;
  margin: 0 auto;
}

.linhaDeNomes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Kanit-regular';
  font-size: 1.2vw;
  margin: 3% 0;
}

.quemPassouAqui #star {
  margin: -52px 0 -30px 300px;
  width: 60px;
  padding: 0.5%;
  border: none;
}


/* ----------- Alguma Dúvida? ----------- */
.algumaDuvida {
  margin: 3% 0;
  /* border: 1px solid tomato; */
}

.algumaDuvida h1 {
  font-family: 'Octuple-max';
  font-size: 5vw;
  text-align: center;
}

.algumaDuvida .botao {
  margin: 4% auto 0;
  width: 120px;
}

.algumaDuvida img {
  width: 3%;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  float: right;
  padding: 0 2%;
  margin-top: 2%;
}


/* ----------- Rodapé ----------- */
.rodape {
  margin: 1% auto;
  width: 96%;
}

.area_rodape {
  display: flex;
  border: 1px solid white;
  border-bottom-right-radius: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.area_rodape h1 {
  font-family: 'kanit-medium';
  font-size: 4vw;
}

.links {
  width: 60%;
  justify-content: space-between;
  display: flex;
}

.links h3 {
  font-family: 'kanit-medium';
  font-size: 2vw;
}

#menu {
  font-family: 'kanit-regular';
  font-size: 1.3vw;
}

.social_icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50px;
}

.FaIcons {
  height: 8%;
  border: 1px solid white;
  padding: 20%;
  margin: 10% 0;
}











/* ---------------------- Versão Mobile ---------------------- */

@media screen and (max-width: 767px) {
  .saibamais button {
    height: 20px;
    width: 85px;
    font-size: 2.3vw;
    flex-wrap: nowrap;
  }

  .saibamais button:hover {
    background-color: white;
  }


  /* ----------- Barra de navegação ----------- */
  .nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 3%;
  }

  .esquerda {
    width: 80%;
  }

  .esquerda ol {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .esquerda a {
    font-size: 2.5vw;
    padding: 0;
  }


  /* ----------- Banner principal ----------- */
  .Banner {
    margin-top: 4%;
  }

  .texto {
    margin-top: -8%;
    margin-right: -40%;
  }

  .texto h1 {
    font-size: 7vw;
    -webkit-text-stroke-width: 0.5px;
  }

  .texto p {
    font-size: 2.2vw;
    width: 35%;
  }

  .imagem {
    width: 130%;
  }

  .imagem img {
    border-bottom-left-radius: 40px;

  }

  .imagem h2 {
    font-size: 7vw;
    -webkit-text-stroke-width: 0.5px;
    color: transparent;
    padding: 10px;
    margin-top: -10%;
  }


  /* ----------- Serviços ----------- */
  .Servicos {
    margin: 1% 4% 4% 3%;
  }

  .Servicos #star {
    margin-right: -16px;
    margin-top: -34.5%;
    width: 30px;
  }

  .Servicos img {
    border-bottom-right-radius: 30px;
  }

  .Servicos p {
    padding: 3% 0 7% 0;
    width: 80%;
    font-size: 2vw;
  }

  .Servicos #letra_japonesa {
    margin-right: -3px;
    margin-bottom: -40%;
    width: 5%;
  }


  /* ----------- O que oferecemos ----------- */
  .oqueoferecemos .titulo {
    margin: 0 5%;
    width: 85%;
    justify-content: space-between;
  }

  .oqueoferecemos .titulo hr {
    width: 40%;
  }

  .oqueoferecemos h1 {
    font-size: 5vw;
  }

  .oqueoferecemos .ativo {
    width: 80%;
    height: 80px;
    border-bottom-right-radius: 30px;
    border-left: none;
  }

  .ativo #star {
    height: 40px;
    margin-top: -83px;
    margin-left: 10px;
  }

  .ativo #iconeAtv {
    width: 40px;
    height: 40px;
    padding: 2%;
  }

  .ativo p {
    width: 100%;
    font-size: 3vw;
  }

  .icones {
    width: 70%;
  }

  .FaIconsOQ {
    width: 30px;
    height: 30px;
  }

  .FaIconsOQ:hover, .icone-ativo {
    border: 1px solid var(--laranja);
    color: var(--laranja);
  }


  .oqueoferecemos .titulos {
    margin-top: 3%;
  }

  .oqueoferecemos h2 {
    -webkit-text-stroke-width: 0.5px;
  }

  .oqueoferecemos span {
    font-family: 'Plank';
    padding: 0;
  }


  /* ----------- Quem passou por aqui? ----------- */
  .quemPassouAqui {
    display: flex;
    flex-direction: column;
    margin-top: -20%;
  }

  .quemPassouAqui h1 {
    font-size: 4vw;
  }

  .quemPassouAqui img {
    border-bottom-left-radius: 50px;
  }

  .linhaDeNomes {
    font-size: 1.3vw;
    margin: 3% 0;
  }

  .quemPassouAqui #star {
    margin: -32px 0 -15px 300px;
    width: 40px;
  }


  /* ----------- Alguma Dúvida? ----------- */
  .algumaDuvida {
    margin: 5% 0;
  }

  .algumaDuvida h1 {
    font-size: 6vw;
  }

  .algumaDuvida .botao {
    width: 80px;
  }

  .algumaDuvida img {
    margin-top: 4%;
  }


  /* ----------- Rodapé ----------- */
  .area_rodape {
    border-bottom-right-radius: 50px;
  }

  .area_rodape h1 {
    display: none;
  }

  .links {
    width: 85%;
  }

  .links h3 {
    font-size: 4vw;
  }

  #menu {
    font-size: 2vw;
  }

  .social_icons {
    width: 30px;
  }
  
  #assinatura {
    font-size: 2vw;
  }
}